# 忽略所有级别的编译产物
**/target/
**/build/
os/src/link_app.S
os/src/linker.ld

# 忽略所有二进制镜像和临时文件
**/*.img
**/*.bin
**/*.elf
**/*.asm
**/.gdb_history

# 忽略开发工具生成的琐碎文件
.idea/
.vscode/
**/Cargo.lock

随想.md
temp_mnt/

# 排除一些不需要的文件，防止互相污染
os/src/fs/stdio.rs
os/src/mm/page_table.rs
os/src/mm/memory_set.rs
os/src/mm/address.rs
os/src/console.rs
os/src/fs/vfs/mount.rs
sdcard-la.img.gz
sdcard-rv.img.gz
os/vendor
.codex

# 排除掉你想要保留的配置
! .github/
! .vscode/settings.json
! .devcontainer/devcontainer.json

# 忽略交叉编译的 mkfs 源码缓存和生成产物
/tools/.build-tmp/
/tools/*.tar.gz
/tools/mkfs-riscv64/sbin/mkfs.ext*
/tools/mkfs-loongarch64/sbin/mkfs.ext*
